.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img{
        width: 100px;
        margin: 0;
    }

    @media screen and (min-width: 750px){
        img{
            width: 120px;
        }
    }
}