.results{
    width: 90%;

    .results__var-result{
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    
    &-fraction{
        padding: 0 10px;
        text-align: center
    }

    p, hr, &-fraction{
        margin: 0;
    }

    span{
        display: block;
        font-family: $secondFont;
        margin: 0 15px 0 10px;
    }

    button{
        font-family: $mainFont;
        font-size: 1.9rem;
        
        cursor: pointer;
        margin: 0;
        @include resetBtn;
    }

    &__module{
        button{
            color: $contrastColor;
        }
    }

    @media screen and (min-width: 750px){
        button, .results__var-result{
            font-size: 2.5rem;
        }

        & > *{
            margin-bottom: 30px;
        }
    }
}