.results{
    width: 90%;

    h2{
        font-size: 2rem;
    }

    button{
        @include resetBtn;
        font-family: $mainFont;
        font-size: 2rem;

        cursor: pointer;
        margin: 0;
    }

    &__module{
        button{
            color: $contrastColor;
        }
    }

    @media screen and (min-width: 750px){
        button, h2{
            font-size: 2.4rem;
        }

        & > *{
            margin-bottom: 30px;
        }
    }
}