.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 30px auto 10px auto;
    padding: 0 9px;
}
.contactContainer section{
    width: 100%;
    margin-bottom: 30px;
}
.contactContainer section > h2{
    font-family: var(--mainFont);
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 9px;
}
.info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.avatarImage{
    width: 125px;
    height: 125px;
    margin-right: 9px;
    background-color: grey;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/avatar3.jpg");
}
.titles h2{
    font-family: var(--mainFont);
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 9px;
}
.titles h3{
    font-family: var(--secondFont);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.socialMedia ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.socialMedia ul li{
    list-style: none;
}
.socialMedia img{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}
.repository{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--clearColor);
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 9px;
    padding-bottom: 22px;
}
.titleContainer{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.repository img{
    width: 15px;
    height: 15px;
    margin-right: 9px;
}
.repository a{
    display: inline-block;
    font-family: var(--secondFont);
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--contrastColor);
}
.repository p{
    font-family: var(--mainFont);
    font-size: 1.4rem;
    margin-bottom: 9px;
}
.activity article{
    background-color: var(--clearColor);
    width: 100%;
    height: 100px;
}
.lenguageContainer{
    position: absolute;
    left: 9px;
    bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--mainFont);
    font-size: 1rem;
}


@media screen and (min-width: 700px){
    .contactContainer{
        padding: 30px;
    }
    .contactContainer section{
        margin-bottom: 50px;
    }
    .info{
        flex-direction: column;
    }
    .avatarImage{
        margin: 0 auto 20px auto;
    }
    .titles h2, .titles h3{
        display: inline-block;
    }
    .titles{
        margin: 0 auto;
    }
    .titles h2{
        margin-right: 30px;
        font-size: 3rem;
    }
    .titles h3{
        font-size: 2.2rem;
    }
    .socialMedia{
        margin-top: 20px;
    }
    .socialMedia ul{
        justify-content: center;
    }
    .socialMedia img{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
    .pinnedRepositories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 37px auto;
        gap: 20px;
    }
    .pinnedRepositories h2{
        grid-column: 1 / 3;
    }
    .pinnedRepositories article{
        width: 100%;
        height: 100%;
        grid-row: 2/3;
    }
    .repository img{
        width: 25px;
        height: 25px;
    }
    .pinnedRepositories article:nth-child(1){
        grid-column: 1/2;
    }
    .pinnedRepositories article:nth-child(2){
        grid-column: 2/3;
    }
    .activity h2{
        margin-bottom: 20px;
    }
    .repository a{
        font-size: 2rem;
    }
    .repository p{
        font-size: 1.7rem;
    }
    .lenguageContainer{
        font-size: 1.6rem;
    }
}