:root{
    --mainFont: 'Montserrat', sans-serif;
    --secondFont: 'Roboto', sans-serif;
    --clearColor: #FFFFFF;
    --mainColor: #F4F4F4;
    --darkColor: #000000;
    --contrastColor: #10AFC8;
    --spaceBetween: 30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--mainColor);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 9px;
    background-color: var(--clearColor);
}
header img, .hamburgerButton{
    width: 20px;
    height: 20px;
}
.hamburgerButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: opacity 1s;
}
header nav{
    position: relative;
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    font-family: var(--secondFont);
    font-size: 1.8rem;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header nav ul li:not(#last){
    margin-right: 20px;
}
header nav ul li a{
    color: var(--darkColor);
    font-weight: 700;
    text-decoration: none;
}
.arrowContainer{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 33%;
    height: 13px;
    transition: left 1s;
}
.headerArrow{
    width: 26px;
    height: 100%;
    background-image: url("../assets/images/arrowUp.svg");
}
.sidebar{
    position: absolute;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 238px;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px 0 0 5px;
    transition: right 1s;
}
.headerSidebar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 9px;
    width: 100%;
    height: 50px;
}
.closeButton{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/closeButton.svg");
}
.content{
    width: 100%;
    padding-bottom: 2px;
}

@media screen and (min-width: 700px){
    header{
        height: 75px;
        padding: 0 30px;
    }
    header img{
        width: 30px;
        height: 30px;
    }
    .hamburgerButton{
        display: none;
    }
    header nav{
        display: flex;
        font-size: 2.4rem;
    }
    header nav ul li:not(#last){
        margin-right: 30px;
    }
    .arrowContainer{
        display: flex;
        height: 17px;
    }
    .sidebar{
        display: none;
    }
    .headerSidebar{
        height: 75px;
    }
}