:root{
    --mainFont: 'Montserrat', sans-serif;
    --secondFont: 'Roboto', sans-serif;
    --clearColor: #FFFFFF;
    --mainColor: #F4F4F4;
    --darkColor: #000000;
    --contrastColor: #10AFC8;
    --spaceBetween: 30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--mainColor);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 9px;
    background-color: var(--clearColor);
}
header img{
    width: 20px;
    height: 20px;
}
header nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    font-family: var(--secondFont);
    font-size: 1.8rem;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header nav ul li:nth-child(1){
    margin-right: 20px;
}
header nav ul li a{
    color: var(--darkColor);
    font-weight: 700;
    text-decoration: none;
}
.arrowContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 13px;
}
.headerArrow{
    width: 26px;
    height: 100%;
    background-image: url("../assets/images/arrowUp.svg");
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    max-width: 700px;
    height: auto;
    margin: 25px auto;
}
.content h2{
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--darkColor);
    margin-bottom: var(--spaceBetween);
}
.content input{
    width: 90%;
    height: auto;
    font-family: var(--mainFont);
    font-size: 1.5rem;
    color: var(--darkColor);
    padding: 9px;
    margin-bottom: var(--spaceBetween);
    border: none;
    outline-color: var(--contrastColor);
    background-color: var(--clearColor);
    border-radius: 15px;
}
.interpretation{
    font-family: var(--mainFont);
    font-size: 1.4rem;
    margin-bottom: var(--spaceBetween);
    color: rgba(black, 0.5);
}
.doMathButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: auto;
    font-family: var(--secondFont);
    font-weight: bold;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: var(--contrastColor);
    padding: 9px;
}
.result, .aftermath{
    display: none;
}

@media screen and (min-width: 700px){
    header{
        height: 75px;
        padding: 0 30px;
    }
    header img{
        width: 30px;
        height: 30px;
    }
    header nav{
        font-size: 2.4rem;
    }
    header nav ul li:nth-child(1){
        margin-right: 30px;
    }
    .arrowContainer{
        height: 17px;
    }
    .content{
        margin: 80px auto;
    }
    .content h2{
        font-size: 4.4rem;
        margin-bottom: 40px;
    }
    .content input{
        width: 100%;
        height: auto;
        padding: 15px;
        font-size: 2rem;
        margin-bottom: 60px;
    }
    .interpretation{
        font-size: 2rem;
        margin-bottom: 60px;
    }
    .doMathButton{
        width: 344px;
        height: auto;
        padding: 12px;
        font-size: 2.2rem;
    }
}